import React from 'react'
import {message} from 'antd'
import {hashHistory} from 'dva/router'
import AddPage from '../add/Page'
import * as ${table.entityName.toLowerCase()}Service from 'services/${table.entityName.toLowerCase()}'

class Page extends AddPage {
    onSave(formData,reset){
        return ${table.entityName.toLowerCase()}Service.saveOrUpdata({
            ...formData,
            action:formData.$!table.get("primaryKey")?'UPDATE':'INSERT',
        }).then((response)=>{
            if(!response.hasError&&!reset){
                message.success('修改成功');
                hashHistory.replace({
                    pathname:'/${table.entityName.toLowerCase()}/detail',
                    query:{
                        $!table.get("primaryKey"):response.dto.$!table.get("primaryKey")
                    }
                });
            }
            return response;
        })
    }
}

export default Page;