import Utils from "../utils";

const { request, config } = Utils;
const { apiPrefix } = config;
const basePrefix = `${apiPrefix}/${table.entityName.toLowerCase()}`;

// 获取分页列表
export async function getPage (params) {
    return request({
        url: `${basePrefix}/getPage`,
        method: 'post',
        data: params,
    })
}

//获取一条数据
export async function getInfo({$!table.get("primaryKey")}){
    return request({
        url: `${basePrefix}/$!table.get("primaryKey")`,
        method: 'get'
    })
}

//保存或者更新数据
export async function saveOrUpdata(params) {
    return request({
        url: `${basePrefix}/saveOrUpdata`,
        method: 'post',
        data: params,
    })
}